<!-- The content below is only a placeholder and can be replaced. -->
<div style="text-align:center">
  <!-- Scenario 1 Printing on console -->
 <!-- <app-scenario1comp></app-scenario1comp> -->
 <!-- Scenario 2 Printing as soon as you type  -->
 <!-- <app-scenario2comp></app-scenario2comp> -->
 <!--Scenario3 Module's Component1 -->
 <!-- <app-comp1></app-comp1> -->
 <!--Scenario3 Module's Component1 -->
 <!-- <app-comp2></app-comp2> -->
<!-- Scenario4 Module's Component1 -->
<!-- <app-scenario4comp1></app-scenario4comp1> -->
<!-- Scenario5 Module's Component1 -->
<!-- <app-scenario5comp1></app-scenario5comp1> -->
<!-- Scenario6 Module's Component1 -->
<app-scenario6comp1></app-scenario6comp1>
</div>
  
